@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  font-family: "Dancing Script", cursive;
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 9%,
    #784ba0 34%,
    #ba0465 100%
  );
}
h1 {
  color: #fff;
}
.container {
  display: flex;
  width: 90vw;
  align-items: center;
  justify-content: center;
}
.panel {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  flex: 0.5;
  position: relative;
  border-radius: 50px;
  margin: 10px;
  transition: flex 1s ease-in;
}
.panel h4 {
  position: absolute;
  font-size: 3rem;
  color: #fff;
  bottom: 40px;
  left: 30px;
  opacity: 0;
  transition: opacity 0.3s ease-in 0.4s;
}

.panel.active {
  flex: 5;
}

.panel.active h4 {
  opacity: 1;
}

@media screen and (max-width: 800px) {
  .panel:nth-child(4),
  .panel:nth-child(5) {
    display: none;
    width: 100vw;
  }
}
